h1{
    color: $RaisingBlack;
    font-family: $fuente1;
    font-size: $xxxxx-l;
}
h2{
    color: $RaisingBlack;
    font-family: $fuente1;
    font-size: $xxx-l;

}
h3{
    color: $RaisingBlack;
    font-family: $fuente1;
    font-size: $xx-l;
    padding: 0;
    margin: 0;
}
h4{
    color: $RaisingBlack;
    font-family: $fuente1;
    font-weight: 300;
    font-size: xx-large;

}
h5{
    color: $RaisingBlack;
    font-family: $fuente1;
    font-size: $x-l;
}
h6{
    color: $LavenderGray;
    font-family: $fuente1;
    font-size:$small;

}
p{
    font-family: $fuente2;
    color: $RaisingBlack;
    font-size: $medium;
    line-height: 30px;
}