@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap");
header {
  position: relative;
  margin-bottom: 550px; }

.bg-hero {
  background-image: url(../img/bg-hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 190px;
  background-position-x: -700px; }

@media (min-width: 768px) {
  .bg-hero {
    height: 100vh;
    width: 100vw;
    top: 0px;
    background-position-x: 0px; }

  header {
    position: relative;
    margin-bottom: 300px; } }
/*colores blancos*/
/*colores coral*/
/*colores azules*/
/*colores onyx*/
/*colores negros*/
/*tipografias raleway open sans*/
body {
  padding: 0;
  margin: 0; }

h1 {
  color: #221d23;
  font-family: "Raleway", sans-serif;
  font-size: 50px; }

h2 {
  color: #221d23;
  font-family: "Raleway", sans-serif;
  font-size: 40px; }

h3 {
  color: #221d23;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  padding: 0;
  margin: 0; }

h4 {
  color: #221d23;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: xx-large; }

h5 {
  color: #221d23;
  font-family: "Raleway", sans-serif;
  font-size: 30px; }

h6 {
  color: #c7c8cc;
  font-family: "Raleway", sans-serif;
  font-size: 14px; }

p {
  font-family: "Open Sans", sans-serif;
  color: #221d23;
  font-size: 16px;
  line-height: 30px; }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #fff;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  grid-column: span 12; }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #221d23;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black; }

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #fff;
  color: #221d23; }

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none; }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none; }

  .topnav a.icon {
    float: right;
    display: block; } }
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 10%; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.contenedor {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

/* COLUMNAS
/*==========================================================================*/
/*columnas smartphone*/
.col-12 {
  grid-column: span 12; }

.col-11 {
  grid-column: span 11; }

.col-10 {
  grid-column: span 10; }

.col-9 {
  grid-column: span 9; }

.col-8 {
  grid-column: span 8; }

.col-7 {
  grid-column: span 7; }

.col-6 {
  grid-column: span 6; }

.col-5 {
  grid-column: span 5; }

.col-4 {
  grid-column: span 4; }

.col-3 {
  grid-column: span 3; }

.col-2 {
  grid-column: span 2; }

.col-1 {
  grid-column: span 1; }

/* MEDIA QUERIES*/
/*desde 576px hasta 767 */
@media (min-width: 576px) {
  ​
  .d-sm-none {
    display: none; }

  .d-sm-block {
    display: block; }

  .col-sm-12 {
    grid-column: span 12; }

  .col-sm-11 {
    grid-column: span 11; }

  .col-sm-10 {
    grid-column: span 10; }

  .col-sm-9 {
    grid-column: span 9; }

  .col-sm-8 {
    grid-column: span 8; }

  .col-sm-7 {
    grid-column: span 7; }

  .col-sm-6 {
    grid-column: span 6; }

  .col-sm-5 {
    grid-column: span 5; }

  .col-sm-4 {
    grid-column: span 4; }

  .col-sm-3 {
    grid-column: span 3; }

  .col-sm-2 {
    grid-column: span 2; }

  .col-sm-1 {
    grid-column: span 1; } }
/*MD desde 768px hasta 991px*/
@media (min-width: 768px) {
  .d-md-none {
    display: none; }

  .d-md-block {
    display: block; }

  .col-md-12 {
    grid-column: span 12; }

  .col-md-11 {
    grid-column: span 11; }

  .col-md-10 {
    grid-column: span 10; }

  .col-md-9 {
    grid-column: span 9; }

  .col-md-8 {
    grid-column: span 8; }

  .col-md-7 {
    grid-column: span 7; }

  .col-md-6 {
    grid-column: span 6; }

  .col-md-5 {
    grid-column: span 5; }

  .col-md-4 {
    grid-column: span 4; }

  .col-md-3 {
    grid-column: span 3; }

  .col-md-2 {
    grid-column: span 2; }

  .col-md-1 {
    grid-column: span 1; } }
/*DESDE 992 HASTA 1199*/
@media (min-width: 992px) {
  .d-lg-none {
    display: none; }

  .d-lg-block {
    display: block; }

  .col-lg-12 {
    grid-column: span 12; }

  .col-lg-11 {
    grid-column: span 11; }

  .col-lg-10 {
    grid-column: span 10; }

  .col-lg-9 {
    grid-column: span 9; }

  .col-lg-8 {
    grid-column: span 8; }

  .col-lg-7 {
    grid-column: span 7; }

  .col-lg-6 {
    grid-column: span 6; }

  .col-lg-5 {
    grid-column: span 5; }

  .col-lg-4 {
    grid-column: span 4; }

  .col-lg-3 {
    grid-column: span 3; }

  .col-lg-2 {
    grid-column: span 2; }

  .col-lg-1 {
    grid-column: span 1; } }
/*DESDE 1200*/
@media (min-width: 1200px) {
  .d-xl-none {
    display: none; }

  .d-xl-block {
    display: block; }

  .col-xl-12 {
    grid-column: span 12; }

  .col-xl-11 {
    grid-column: span 11; }

  .col-xl-10 {
    grid-column: span 10; }

  .col-xl-9 {
    grid-column: span 9; }

  .col-xl-8 {
    grid-column: span 8; }

  .col-xl-7 {
    grid-column: span 7; }

  .col-xl-6 {
    grid-column: span 6; }

  .col-xl-5 {
    grid-column: span 5; }

  .col-xl-4 {
    grid-column: span 4; }

  .col-xl-3 {
    grid-column: span 3; }

  .col-xl-2 {
    grid-column: span 2; }

  .col-xl-1 {
    grid-column: span 1; } }
.footer {
  background-color: #221d23;
  height: 100px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0; }

.footer__textos {
  padding-top: 2px;
  height: 150px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding-bottom: 0; }

li {
  display: inline;
  padding-right: 20px; }

ul {
  margin: 0;
  padding-bottom: 0; }

body {
  margin: 0;
  padding: 0; }

.texto__principal {
  margin-left: 20px;
  margin-right: 40px; }

.caracteristicas {
  margin-left: 20px;
  margin-right: 20px; }

.titulo__estadisticas {
  text-align: center; }

.btn {
  cursor: pointer; }

.btn__navbar {
  cursor: pointer; }

.btn__navbar:hover {
  background-color: #77d1dd; }

.titulo__precios {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
  border: 0; }

/*.fondo__precios{
  background-image: url(../img/bg-price.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200%;
  width: 100vw;
  // position: absolute;
  background-position: center;
  top: 1200px;
}*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  margin: 30px; }

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

/* Add some padding inside the card container */
.container__card {
  padding: 2px 16px; }

/*seccion caracteristicas*/
.grafico {
  margin-bottom: 100px;
  padding: 200px; }

.titulo__caracteristicas {
  text-align: center; }

.card ul li {
  display: block;
  text-align: left;
  list-style-type: square; }

img {
  margin: 0;
  padding: 0; }

.fondo__montanas {
  background-image: url(assets/img/bg-price_2.jpg);
  width: 100vw;
  height: 350px;
  margin: 0;
  padding: 0;
  border: 0; }

.fondo__montanas_color {
  background-color: #333745;
  height: 1000px;
  margin: 0;
  padding: 0;
  border: 0; }

.btn {
  border-radius: 2px;
  border: none;
  width: 100%;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #2ab7ca;
  color: white;
  font-size: 16px; }

.btn:hover {
  background-color: #77d1dd; }

.texto__card {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0; }

.invisible {
  visibility: hidden; }

.row {
  padding: 0; }

@media (min-width: 768px) {
  .fondo__montanas_color {
    background-color: #333745;
    height: 100vh;
    margin: 0;
    padding: 0; }

  .caracteristicas {
    padding: 40px; }

  .texto__principal {
    padding-left: 50px; }

  .card {
    width: 85%;
    text-align: center;
    padding-left: 0px; }

  .btn__navbar {
    border-radius: 2px;
    border: none;
    width: 80px;
    height: 30px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #2ab7ca;
    color: white;
    font-size: 16px; }

  .btn__navbar2 {
    border-radius: 2px;
    border: none;
    width: 100px;
    height: 20px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    color: #221d23;
    font-size: 16px; }

  .titulo__estadisticas {
    text-align: center; }

  .fondo__precios {
    height: 100vh;
    width: 100vw; } }
.animation-element {
  transition: all 500ms linear;
  transform: translate3d(0px, 10px, 0px);
  transition-delay: 0.5s;
  position: relative; }

.animation-element .in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px); }

/*# sourceMappingURL=style.css.map */
