.footer{
    background-color: $RaisingBlack;
    height: 100px;
    text-align: center;
    color: $White;
    margin: 0;
}

.footer__textos{
padding: 1px;
}

li{
    display: inline;
    padding-right: 100px;
}