header {
  position: relative;
  margin-bottom: 550px;
}


.bg-hero{
  background-image: url(../img/bg-hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 190px;
  background-position-x: -700px;

}
@media (min-width: 768px) {
  .bg-hero{
    height: 100vh; 
    width: 100vw;
    top: 0px;
    background-position-x: 0px;
  }
 
  header {
    position: relative;
    margin-bottom: 300px;
  }
}
